<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <!--Sign up information-->
    <h1 >Result</h1>
    <div>
        <form th:action="@{'/signup'}" th:object="${user}" th:method="POST">
            <table>
                <tr>
                    <td><label>Username</label></td>
                    <td><input type="text" th:field="*{username}"></td>
                </tr>
                <tr>
                    <td><label>Password</label></td>
                    <td><input type="password" th:field="*{password}"></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="text" th:field="*{email}"></td>
                </tr>
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" th:field="*{account.contactInformation.firstName}"/></td>
                    <td><input type="text" th:field="*{account.contactInformation.lastName}"/></td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td><input type="text" th:field="*{account.contactInformation.address}"/></td>
                    <td><input type="text" th:field="*{account.contactInformation.city}"/></td>
                    <td><input type="text" th:field="*{account.contactInformation.state}"/></td>
                    <td><input type="text" th:field="*{account.contactInformation.country}"/></td>
                    <td><input type="text" th:field="*{account.contactInformation.zipCode}"/></td>
                </tr>
                <tr>
                    <td><label>Phone</label></td>
                    <td><input type="text" th:field="*{account.contactInformation.phone}"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Create</button> </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>