.navbar-default {
    background-color: #ef6c00;
    width: 100%;
}

.navbar {
    white-space: nowrap;
    width: 100%;
    margin: auto;
    z-index: 100;
    position: fixed;
}

.navbar-brand {
    -webkit-text-fill-color: white;
}


a.navbar-brand {
    z-index: 100;
    left: 0px;
    top: 0px;
    display: block;
    width: 173px;
    background-size: 100% 100%;
}
