<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartRaise | Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>
    <div class="container">
        <div class="row vertical-align">
            <!--Sign Up Panel-->
            <div id="signup" class="inner col panel panel-default">
                <div class="panel-heading" style="background-color: black">
                    <h4 class="panel-title">Sign Up!</h4>
                </div>
                <div class="lead" style="text-align: center">
                    <p>Create an account to join organizations, create fundraisers, and donate to other events!</p>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" th:object="${user}" th:action="@{/signup}" method="post">
                        <div class="form-group" style="margin-left: auto; margin-right: auto">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <label>Username</label>
                            <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
                        </div>
                        <div class="form-group" style="margin-left: auto; margin-right: auto">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <label>Email address</label>
                            <input type="email" class="form-control" th:field="*{email}" placeholder="Enter email">
                        </div>
                        <div class="form-group" style="margin-left: auto; margin-right: auto">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            <label>Password</label>
                            <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
                        </div>
                        <div class="form-group" style="margin-left: auto; margin-right: auto">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="submit">
                            <button type="submit" class="btn btn-primary" style="background-color: black">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--Log In Panel-->
            <div id="login" class="inner col panel panel-default">
                <div class="panel-heading" style="background-color: black">
                    <h4 class="panel-title">Log In!</h4>
                </div>
                <div class="lead" style="text-align: center">
                    <p>Already a member? Log in!</p>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" th:action="@{/signup}" method="post">
                        <div class="form-group" style="margin-left: auto; margin-right: auto">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <label>Username</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group" style="margin-left: auto; margin-right: auto">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            <label>Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="submit">
                            <button type="submit" class="btn btn-primary" style="background-color: black">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>