<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname.slice(0,window.location.pathname.lastIndexOf("/")) + '" />'));
    </script>
</head>
<body ng-app="myApp" >
    <h1 >Result</h1>
        <p id="memberId" th:text="${profile.username}" />
        <p th:text="${profile.contactInformation.email}" />
        <p th:text="${profile.contactInformation.firstName} + ' ' +${profile.contactInformation.lastName} "></p>

    <div ng-controller="MainController">
        <div id="orgs">
            <h3>Orgs</h3>
            <div ng-repeat="org in orgs">
                <b>{{org.name}}</b>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module('myApp', ["ngRoute"]);
        app.controller("MainController", function ($http, $scope) {
            id = document.getElementById("memberId").innerText;//window.location.pathname.slice(window.location.pathname.lastIndexOf("/")+1)
            console.log($scope);
            $http.get("/api/member/"+id+"/organizations")
                .then(function(response) {
                    console.log(response.data)
                    $scope.orgs = response.data;
                });
        });
    </script>
    </body>
</html>