<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname.slice(0,window.location.pathname.lastIndexOf("/")) + '" />'));
    </script>
</head>
<body>
    <!--Member information-->
    <h1 >Member</h1>
    <div>
        <form th:action="@{'/member/' + ${profile.username} + '/edit'}" th:object="${profile}" th:method="POST">
            <input hidden th:field="*{username}"/>
            <input hidden th:field="*{contactInformation.username}"/>
            <input hidden th:field="*{organizations}">
            <table>
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" th:field="*{contactInformation.firstName}"/></td>
                    <td><input type="text" th:field="*{contactInformation.lastName}"/></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="text" th:field="*{contactInformation.email}"/></td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td><input type="text" th:field="*{contactInformation.address}"/></td>
                    <td><input type="text" th:field="*{contactInformation.city}"/></td>
                    <td><input type="text" th:field="*{contactInformation.state}"/></td>
                    <td><input type="text" th:field="*{contactInformation.country}"/></td>
                    <td><input type="text" th:field="*{contactInformation.zipCode}"/></td>
                </tr>
                <tr>
                    <td><label>Phone</label></td>
                    <td><input type="text" th:field="*{contactInformation.phone}"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Update</button> </td>
                </tr>
            </table>
        </form>
    </div>
    <!--Uploads new profile picture-->
    <div >
        <form name="upload" id="upload" method="POST" enctype="multipart/form-data" th:object="${profile}" th:action="@{'/member/' + ${profile.username} +'/profile'}">
            <label >Select File</label>
            <input type="file" class="file" name="file" id="file"/>
            <input type="submit" name="submit" value="Upload" />
        </form>
    </div>
</body>
</html>